@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* Header style */
.header{
    overflow: hidden;
    height:830px;
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom left,bottom right;
    

}
/* Nav Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Open Sans;
    margin:0 200px;
    height: 150px;
    
}
nav img{
    width:300px   
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.btn-praimary{
    background-color: rgb(245, 122, 6);
    border: none;
    font-weight: bold;
    border-radius: 5px;
    color:#fff;
    padding: 15px 20px;
}
/* Banner Style */
.bannr{
    display: flex;
    justify-content: space-between;
    margin:0 35px 0 230px;
   
}
.contact{
    background-color: white;
    border:2px solid orange;
    color: orange;
}
.bannarContent{
    max-width: 580px;
    margin-top: 30px;
}
.bannerGreetings{
    font-family: Open Sans ;
    font-size: 45px;
    font-weight: 600;
}
.bannarTitle{
    font-family: Open Sans;
    font-size: 85px;
    margin-bottom: 30px;
}
.banner-description{
    font-family: open sans;
    font-size: 18px;
    margin-bottom: 30px;

}
.bannarImage{
    width:669px;;
    
}
/* Main Section style */
.sectionTitle{
    font-size: 35px;
    font-weight: bold;
    color:#181818;
    font-family: open sans;
}
.sectionDescription{
    font-size: 18px;
    color:#757575;
}
.section-bg{
    background-color: #fff8f3;
}
/* Main Section Style */
main{
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 10px;
}

/* About Style is Here */

.about{
    margin-top: 130px;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    box-shadow: 0px 1px 9px gray;
}
.about:hover{
    background-color: rgb(233, 231, 231);
}
.sectionTitle{
    margin-bottom: 30px;
}
.aboutItems{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 50px 0;
}
.item{
    font-family: verdana;
    font-weight: bold;
    color: olivedrab;
    
    
}
.item:hover{
    color:orange;
}
/* What I do Section Css */
.skillSec{
    text-align: center;
    margin-top: 100px;
    
}


.skillContainer{
     display: flex;
     margin-top: 50px;
     gap:20px;
     

}
.skillContainer .skill{
    text-align: center;
    padding: 30px;
    width: 267px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    font-family: open sans;
    transition: transform 0.5s;
}
.skill:hover{
    transform: scale(1.1);
    background: #0984e3;
    color: white;
    cursor: pointer;
}
.skill, h4{
  
    margin-bottom: 35px;
}
.skill p{
    text-align: left;
}
/* Resume Css */
.resumeTitle{
    text-align: center;
    margin-top:30px;
    margin-bottom: 50px;
}
.resume{
    width: 1140px;
    display: flex;
    justify-content: space-between; 
    font-family: open sans;
}
.resumeColume{
    width: 512px;
}
.resumeEducation{
    margin-bottom: 20px;
}

.resumeItem{
    padding: 20px 50px 0 0;
}
.resumSubTitle{
    display: block;
   margin-bottom:5px;   
}
.resumSubTitle, p{
    margin-bottom: 20px;
    color: #424141;
}
.resumbtn{
    margin:50px 0;
    text-align: center;
}
/* Contect Section Css */

.contactSection{
    width: 1140px;
    margin:auto;
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
    
}
.contactItem{
    width: 40%;
    display: flex;
    gap:10px;
    flex-direction: column;   
}
.contactItem h3{
    margin-bottom: 20px;
    font-family: open sans;
}
.contactItem  p{
    font-size: 12px;
    font-family: open sans;
}
.contactItem input{
     padding: 15px 15px;
     border-radius: 5px;
     border: none;
     outline: none;
    
}
input[type=text]:focus{
    border: 1px solid #c8bdbd;;
}
input[type=email]:focus{
    border: 1px solid #c8bdbd;;
}
textarea[type=text]:focus{
    border: 1px solid #c8bdbd;;
}
.contactItem textarea{
    border-radius: 5px;
    border: none;
    padding: 50px 15px;
    outline:none;
}
.contactItem button{
    width: 100px;
    cursor: pointer;
}
.contactIcon i{
    color:orange;
    margin-right: 15px;
    font-size: 12px;
}
